<div class="container">
  <h2>Sorular</h2>
  <hr />

  <button
    mat-fab
    color="primary"
    matTooltip="Kategori Ekle"
    (click)="SoruEkle()"
  >
    <mat-icon aria-label="label">add</mat-icon>
  </button>
  <p>&nbsp;</p>

  <mat-form-field appearance="outline" style="width: 50%">
    <mat-label>Kategori Seçiniz.</mat-label>
    <mat-select
      placeholder="Kategori"
      [value]="katId"
      (selectionChange)="KategoriSec($event.value)"
    >
      <mat-option [value]="kat.katId" *ngFor="let kat of kategoriler">{{
        kat.katAdi
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="Baslik">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Başlık
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.baslik }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Tarih">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Tarih
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        {{ kayit.tarih | date: "dd.MM.yyyy HH:mm:ss" }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="UyeId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        UyeId
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.uyeId }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Detay">
      <mat-header-cell *matHeaderCellDef> İşlemler </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button
          mat-icon-button
          color="primary"
          matTooltip="Soru Dety"
          (click)="Detay(kayit)"
        >
          <mat-icon aria-label="label">search</mat-icon>
        </button>

        <button
          mat-icon-button
          color="primary"
          matTooltip="Soru Düzenle"
          (click)="SoruDuzenle(kayit)"
        >
          <mat-icon aria-label="label">edit</mat-icon>
        </button>

        <button
          mat-icon-button
          color="warn"
          matTooltip="Soru Sil"
          (click)="SoruSil(kayit)"
        >
          <mat-icon aria-label="label">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons>
  </mat-paginator>
</div>
