<div class="container">
  <h2>Oturum Aç</h2>
  <mat-form-field appearance="outline" style="width: 50%">
    <mat-label>Kullanıcı Adı</mat-label>
    <input matInput placeholder="Kullanıcı Adı" type="text" #kadi />
  </mat-form-field>
  &nbsp;
  <mat-form-field appearance="outline" style="width: 50%">
    <mat-label>Parola</mat-label>
    <input matInput placeholder="Parola" type="password" #parola />
  </mat-form-field>
  &nbsp;

  <button
    mat-raised-button
    color="primary"
    (click)="OturumAc(kadi.value, parola.value)"
  >
    Oturum Aç
  </button>
</div>
